<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-1">
   <a class="navbar-brand bg-success px-4 py-3" href="/">
      F a r m e r  S u p p o r t  S y s t e m
   </a>

   <button class="navbar-toggler px-4 py-3 border-0" type="button"
           data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
   >+</button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-0 me-lg-3 border-lg-0 ">
         <li class="nav-item">
            <a class="nav-link px-4 px-lg-2 py-3" href="/" id="nav-link">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link px-4 px-lg-2 py-3" href="/search" id="nav-link">Search</a>
         </li>
         <li class="nav-item">
            <a class="nav-link px-4 px-lg-2 py-3" href="/crop-recommend" id="nav-link">Crop</a>
         </li>
         <li class="nav-item">
           <a class="nav-link px-4 px-lg-2 py-3" href="/fertilizer" id="nav-link">Fertilizer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 px-lg-2 py-3" href="/chat" id="nav-link">Chat Support</a>
       </li>
        <li class="nav-item">
          <a class="nav-link px-4 px-lg-2 py-3" href="/faqs" id="nav-link">FAQs</a>
       </li>
      </ul>
   </div>
</nav>