<%- include('partials/header')%>

    <body>


        <div class="flex-wrapper">
            <%- include('partials/navbar')%>

        <div class="not-found">

            <div class="container">
                <h1>404</h1>
            <p>The page you were looking for doesn't exist</p>
            <button class="btn btn-success rounded-0" href="/">Go Back</button>
            </div>

            
        </div>
            <%- include('partials/footer')%>
        </div>
        
    </body>

    </html>