<%- include('partials/header')%>

<body>

    <div class="flex-wrapper">
       
        <%- include('partials/navbar')%>

        <br>
        <br>
        This is the About Page.

   

    </div>


        <%- include('partials/footer')%>
    
    
</body>

</html>