<%- include('partials/header')%>

<body>

    <div class="flex-wrapper">
        <%- include('partials/navbar')%>

        <div class="conatiner mb-20" style="text-align: center; margin: 5rem;">
  
        <h2> <b> Scroll down to the bottom right of the page and place your queries there. </b></h2> <br><br>

        <h4>We usually reply within a few minutes.</h4><br><br>

        <h5> View some of the most frequently asked questions on this <a href="/faqs">link</a> .</h5>
       

        <script src="//code.tidio.co/w9ygzoykei8d2s0rlout2aml0noebdus.js" async></script>
        
        </div>

        <%- include('partials/footer')%>
    </div>
    
</body>

</html>