<%- include('partials/header')%>

    <body>

        <div class="flex-wrapper">
            <%- include('partials/navbar')%>

            <section id="faq">
                <div class="faq">
            
                   <div class="container">
                      <div class="row">
                         <div class="col-sm-12">
                            <div class="text-center pb-4 mt-5">
                               <h2> <b> Frequently Asked Questions </b></h2>
            
                            </div>
                         </div>
                      </div>
            
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is the Scientific name of Rice?
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong> The scientific name of rice is Oryza sativa.</strong>
                            </div>
                          </div>
                        </div>

                        
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             Which is the most suitable climate for growing coffee?
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>Coffee requires an average temperature of 15℃ to 28℃ . Growth of the coffee plants is very rapid during the hot rainy season and during the cool dry season the berries get ripened and ready to be plucked. Bright sunshine and warm weather are necessary for harvesting.</strong> 
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              What is the process of cultivation of Mango?
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>Prepare the site by digging a hole that is twice as wide and deep as the root ball. Check the drainage by filling the hole with water and watching how fast it drains. Mango trees can survive some periods of flooding, but the healthiest plants are produced where soils percolate well. Plant the young tree with the graft scar just at the soil surface. You don’t need to prune the young plant, but watch for suckers from the graft and prune them off. Young mango tree care must include frequent watering as the plant establishes. Mango trees grow easily from seed. Get a fresh mango pit and slit the hard husk. Remove the seed inside and plant it in seed starter mix in a large pot. Situating the seed with ¼-inch (.6 cm.) protruding above the soil surface works best for growing mango trees. Keep the soil evenly moist and place the pot where temperatures remain at least 70 F. (21 C.). Sprouting may occur as early as eight to 14 days, but may take up to three weeks. Keep in mind that your new mango tree seedling will not produce fruit for at least six years.</strong> 
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                         <h2 class="accordion-header" id="headingFour">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What are the climatic conditions required for growing mungbean?
                           </button>
                         </h2>
                         <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                             <strong>Mungbean grows in a wide range of climatic conditions. A warm humid climate with temperature ranging from 25⁰ C to 35⁰ C, with 400-550 mm rainfall, well distributed during the growing period of 60 - 90 days, is suitable for cultivation.</strong> 
                           </div>
                         </div>
                       </div>

                       <div class="accordion-item">
                         <h2 class="accordion-header" id="headingFive">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How should I grow chickpea in my Farm?
                           </button>
                         </h2>
                         <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                             <strong>Chickpeas should be planted in full sun. Chickpeas will grow in partial shade but the yield will be reduced. Grow chickpeas in loose, well-drained soil rich in organic matter. Add aged compost to planting beds in advance of planting.Avoid planting chickpeas where green manures have just grown or in soil high in nitrogen; this will result in green leafy growth, not seed production. Add potassium and phosphorus to the soil.</strong> 
                           </div>
                         </div>
                       </div>

                       <div class="accordion-item">
                         <h2 class="accordion-header" id="headingSix">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Where was Orange fruit originated ?
                           </button>
                         </h2>
                         <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                             <strong>An orange is a fruit of various citrus species in the family Rutaceae. The orange originated in a region encompassing Southern China, Northeast India, and Myanmar. Orange trees are widely grown in tropical and subtropical climates for their sweet fruit.</strong> 
                           </div>
                         </div>
                       </div>

                       <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                           What the climatic requirements of chickpea ?
                          </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>Chickpea is sensitive to high (maximum daily temperature >35°C) as well as low (mean of maximum and minimum daily temperatures lesser than 15°C) at the reproductive stage. Both extremes of temperatures lead to flower drop and reduced pod set.</strong> 
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                           Explain the cultivation method of Jute plants.
                          </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>The jute plants are cut to the ground and tied into bundles. After that, sheaves of jute stocks are immersed in floodwater or ponds or stagnant water for about 2 - 3 weeks for retting. The high temperature of the water is advised which quickens the process of retting. Once retting is done, the bark is peeled from the plant & fibre is removed. Then comes stripping, rinsing, washing and cleaning. After that, the fibre is dried in the sun and pressed into bales. Remember all this process has to be done by human hand. Thus, the availability of more labour at cheap rates is very important. But the interesting part is there is no labour shortage as jute is cultivated in areas of high population density.</strong> 
                          </div>
                        </div>
                      </div>

      
                      
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                           Give a brief description of kidneybeans.
                          </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>Common kidney beans—also known as red kidney beans—are large, kidney-shaped legumes that grow on bean bushes or poles from the common snap bean plant Phaseolus vulgaris. When they are cooked, kidney beans taste slightly sweet with a tender and grainy texture. Kidney beans contain nutrients like folate, magnesium, potassium, protein, and fiber. They are often used in chili, dips, as well as Indian, Middle Eastern, Central American, and Caribbean cuisines.</strong> 
                          </div>
                        </div>
                      </div>
      

                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                           What are the climatic conditions required for growing Blackgram?
                          </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>Gram is the most important of all the pulses and accounts for 37 per cent of the production and 28.28 per cent of the total area of pulses in India. It can be grown in a wide range of chmatic conditions but it prefers mild cool and comparatively dry climate with 20°-25°C temperature and 40-50 cm rainfall.</strong> 
                          </div>
                        </div>
                      </div>



                      </div>
           
                     </div>
                  </div>
           
               </div>
           
           </section>

               <%- include('partials/footer')%>
                   
       </div>

   </body>

   </html>