<%- include('partials/header')%>

    <body>


        <div class="flex-wrapper">
            <%- include('partials/navbar')%>

                <div>
                    <h3 class="text-center" style="margin: 4rem"> <b>The details on the type of fertilizer you
                            should use are: </b></h3>
                    <div class="container py-2 mx-auto h-10 " style="margin: 4rem;">

                        <div class="row">
                            <div class="col-sm py-2 py-md-3">
                                <div class="card card-body" style="justify-content: center;">
                                    <p class="text-center"
                                        style="color: black; font-size: 26px; font-family: serif; "><%= result %>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <%- include('partials/footer')%>
            </div>

    </body>

    </html>