<%- include('partials/header')%>

   <body>
      <div>
         <%- include('partials/navbar')%>
      </div>

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-content-center align-items-center">
         <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
            <h1>Welcome to our Website!<br></h1>
            <h2>A Complete Agriculture Support System.</h2>
            <a href="#about" class="btn-get-started">Start Exploring!</a>
            
            
         </div>
      </section>
      <br>

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
         <div class="container" data-aos="fade-up">

            <div class="row">
               <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                  <img src="images/about4.jpg" class="img-fluid" alt="">
               </div>
               <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                  <h3>We provide you with the best assistance.</h3> <br>
                  <p class="fst-italic">
                   We aim at providing advisory assistance and a comprehensive support to all the people engaged in framing pratices. Here are the list of services that we provide:
                  </p>
                  <ul>
                     <li><i class="bi bi-check-circle"></i> Recommendation of a crop
                     </li>
                     <li><i class="bi bi-check-circle"></i> Information regarding Crops
                     </li>
                     <li><i class="bi bi-check-circle"></i> Recommendation of a Fertilizer
                     </li>
                     <li><i class="bi bi-check-circle"></i> Providing answers to your Queries
                     </li>
                  </ul>
                  <p>
                     <i class="bi "> Our objective is to help farmers to increase their productivity and profitability by providing them with quick and efficient solutions to their problems.
                     </i> 
                  </p>

               </div>
            </div>

         </div>
      </section><!-- End About Section -->

       <!-- ======= Features Section ======= -->
       <section id="features" class="features">
         <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
               <div class="col-lg-3 col-md-4">
                  <div class="icon-box">
                     <i class="ri-bubble-chart-line" style="color: #ffbb2c;"></i>
                     <h3><a href="/crop-recommend">Predict Crop</a></h3>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                  <div class="icon-box">
                     <i class="ri-bubble-chart-line" style="color: #5578ff;"></i>
                     <h3><a href="/fertilizer">Predict Fertilizer</a></h3>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                  <div class="icon-box">
                     <i class="ri-search-line" style="color: #e80368;"></i>
                     <h3><a href="/search">Search Crop</a></h3>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                  <div class="icon-box">
                     <i class="ri-chat-1-line" style="color: #e361ff;"></i>
                     <h3><a href="/chat">Live Support</a></h3>
                  </div>
               </div>
            </div>

         </div>
      </section><!-- End Features Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
         <div class="container" data-aos="fade-up">

            <div class="row">
               <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="content">
                     <h3>Why Choose Us?</h3>
                     <p>
                       Our website includes a number of fuctionalities that will help the farmers in their day-to-day needs. 
                       We provide with information on plants that the farmer wishes to grow, help him in predicting the most suitable crop to grow and the best fertilizer to use in his farm. 
                       Our website also provides a live chat support to help the farmer with his queries.
                     </p>
                     <!-- <div class="text-center">
                        <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                     </div> -->
                  </div>
               </div>
               <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-boxes d-flex flex-column justify-content-center">
                     <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                           <div class="icon-box mt-4 mt-xl-0">
                              <i class="bx bx-receipt"></i>
                              <h4>Information about your Plants</h4>
                              <p>The user can get information on any crop by selecting it from the dropdown.
                              </p>
                           </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                           <div class="icon-box mt-4 mt-xl-0">
                              <i class="bx bx-cube-alt"></i>
                              <h4>Crop and fertilizer Recommendation
                              </h4>
                              <p>We help in predicting the best crop to grow and the best fertilizer to use in your farm based on your soil qualities and other factors. </p>
                           </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                           <div class="icon-box mt-4 mt-xl-0">
                              <i class="bx ri-chat-2-line"></i>
                              <h4>Live Chat Support</h4>
                              <p>The user can get solutions for his queries by typing out the same in the chat box. We usually reply within a few minutes.</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- End .content-->
               </div>
            </div>

         </div>
      </section><!-- End Why Us Section -->


      <%- include('partials/footer')%>
   </body>



   </html>