<%- include('partials/header')%>

    <body>

        <div class="flex-wrapper">
            <%- include('partials/navbar')%>

                <div class="container">
                    <h3 class="p-4 text-center"><b></b></h3>
                        <br /><br />

                        <h3 class="p-4 text-center"><b>Get information about a crop by searching for it. </b></h3>
                        
                    <form id="formCropSearch">
                        <div class="mb-3">
                            <label for="crop">Crop you want to search for:</label>
                            <select name="cropname" class="form-control" id="crop" placeholder="Select a crop"
                                style="font-weight: bold" required>
                                <option selected> Select crop</option>
                                <option>Rice</option>
                                <option>Maize</option>
                                <option>Chickpea</option>
                                <option>Kidneybeans</option>
                                <option>Pigeonpeas</option>
                                <option>Mothbeans</option>
                                <option>Mungbean</option>
                                <option>Blackgram</option>
                                <option>Lentil</option>
                                <option>Pomegranate</option>
                                <option>Banana</option>
                                <option>Mango</option>
                                <option>Grapes</option>
                                <option>Watermelon</option>
                                <option>Muskmelon</option>
                                <option>Apple</option>
                                <option>Orange</option>
                                <option>Papaya</option>
                                <option>Coconut</option>
                                <option>Cotton</option>
                                <option>Jute</option>
                                <option>Coffee</option>
                                <option>Dhekia</option>
                                <option>Kolakosu</option>
                                <option>Suhonibon</option>
                                <option>Aibika</option>
                                <option>Latumoni</option>   
                            </select>
                        </div>

                        <button type="submit" class="btnn">Search</button>
                    </form>

                    <div id="searchResult"></div>

                    <br><br>

                    <h5>Didn't find the crop that you're looking for? Here's what you can do!</h5>
                    <h5>Visit this <a href="/chat">link</a> and place your queries there. </h5>

                    <script src="js/search-crop.js"></script>


                </div>

                <%- include('partials/footer')%>
                    
        </div>

    </body>

    </html>