body {
    /* preserve navbar */
    padding-top: 61px;
    background-color: rgb(227, 242, 219);
    font-family: Raleway;
}

#nav-link {
    font-weight: 400;
    color: rgb(65, 219, 137);
}

.bg-dark {
    background-color: rgb(6,26,17) !important;
}

.bg-light {
    background-color: WhiteSmoke !important;
}

.bg-trees {
    background-image: url(https://s19.postimg.cc/bd31cyn6r/road.jpg);
    background-size: cover;
    background-position: center;
}

.not-found {
    text-align: center;
    position: relative;
    height: 900x;
    box-sizing: border-box;
    margin-top: 175px;
}

.not-found h1 {
    text-align: center;
    color: rgb(40, 135, 84);
    font-size: 298px;
    margin: 0;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    margin-top: auto;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.py-7 {
    padding-top: 150px;
    padding-bottom: 150px;
}

@media (min-width: 992px) {
    .border-lg-0 {
        border: none !important;
    }
}

.main-btn{
    display: inline-block;
    padding: 0.625rem 1.0rem;
    line-height: 1.5625rem;
    background-color: rgb(3, 162, 3);
    color: aliceblue;
    font-size: 0.9375rem;
    font-weight: 600;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.main-btn:hover{
    background-color: rgb(75, 232, 75);
    color: rgb(22, 45, 37);
    background-size: cover;
}

h1{
    padding-top: 3.5rem;
    padding-bottom: 10px;
    margin-bottom: 3rem;
    color: white;
    font-weight: bold;
    
}

.banner-p{
    color: rgb(255, 255, 255);
    margin-bottom: 3rem;
}

.main-btn{
    display: inline-block;
    padding: 0.625rem 1.0rem;
    line-height: 1.5625rem;
    background-color: rgb(3, 162, 3);
    color: aliceblue;
    font-size: 0.9375rem;
    font-weight: 600;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.main-btn:hover{
    background-color: rgb(75, 232, 75);
    color: rgb(22, 45, 37);
    background-size: cover;
}

.top-banner{
    width: 100%;
    height: 80%;
    background: url('https://images.pexels.com/photos/1660898/pexels-photo-1660898.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center;
    background-size: cover;
    
}

.about-section .card,
.about-section .card img{
    border-radius: 0.625rem;
}

.about-section{
    padding: 5rem;
}

.about-section .text-sec{
    padding-left: 2rem;
}

.crop-type{
    padding: 25px;
}

.crop-type ul li{
    font-size: 1rem;
    color: black;
    line-height: 33px;
    position: relative;
    margin-left: 30px;
    font-weight: lighter;
}

.crop-type ul li::before{
    position: absolute;
    left: -2.1875rem;
    color: black;
    content: '\2713';
    display: inline-block;
    padding-right: 3px; 
    font-weight: 900;
}

.footer{
    background-color: rgb(6, 26, 17);
}

.footer .footer-link{
    font-size: 1rem;
    color: aliceblue;
    padding: 0 1.875rem;
}

.footer a i{
    font-size: 2rem;
    color: white;
    padding: 0 0.5rem;
}

.explore-site .card{

    background: rgb(252, 252, 229);
    border-radius: 0.9375rem;
    padding: 5px;
    margin: 20px;
}

.explore-site .card img{

    border-radius: 0.9375rem;
    object-fit: cover;
    
}

.explore-site .card button{
    border: none;

    border-radius: 0.285rem;
    display: flex;
    position: relative;
  
}

#nav-link:hover{
    color: white;
}
